/*!
 * \file  ReadMe.css
 * \brief Style sheet of ReadMe.
 *
 * For copyright information please see Copyright.txt in the root
 * directory of the project.
 *
 * Contact: SBIA Group <sbia-software@uphs.upenn.edu>
 */
 
/* header */
.header {
  border-collapse: collapse;
  border: 0px;
}

table.header {
  margin-left: auto;
  margin-right: auto;
}

td.header {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

/* headers and body */
h1 {
  text-align: center; 
  padding-top: 20px;
}

body {
  font-family: Verdana;
  font-size: 11pt;
}

/* tables */
table, td, th {
  border: 1px solid black;
}

td {
  font-size: 90%;
}

table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

td, th {
  padding: 5px;
}

th {
  text-align: left;
  font-weight: bold;
  background-color: #81BEF7;
}

tr.alt1 {
  background-color: #FFFFFF;
}

tr.alt2 {
  background-color: #E0ECF8;
}

/* references table */
.ref {
  margin: 0px;
  text-align: justify;
  border: 0px;
  padding: 2px;
}

/* special sections */
p.preserve {
  white-space: pre
}

.todo {
  color: red;
  font-weight: bold;
}

.contact {
  font-size: 90%;
}

/* footer */
p.footer {
  text-align: center;
  font-size: 75%;
}

/* others */
.folder {
  font-weight: bold;
}

.file {
  font-style: normal;
}